<div style="font-size: 16px;text-align:left;">
  <div *ngIf="(config.data.whichDailog === 'DeleteUser')">
    <p [innerHTML]="confirmDialogMsg"></p>

    <div class="btns-container align-right" style="text-align:center;margin-top:20px;">
      <button pButton type="button" class="primary-btn" style="margin-right: 10px;" (click)="confirm(true)"
        tabindex="0">Yes</button>
      <button pButton type="button" class="primary-btn" (click)="confirm(false)" tabindex="0">No</button>
    </div>
  </div>

</div>