<div class="m-4">
    <button pButton type="button" icon="pi pi-user-plus" class="p-button-raised p-button-rounded ml-2" label="Add User"
        (click)="controlAddUserDialog()"> </button>

    <!--    <button pButton type="button" icon="pi pi-image" class="p-button-raised p-button-rounded ml-2" label="Get Image"
        (click)="getImage()"> </button>


    <button pButton type="button" icon="pi pi-times" class="p-button-raised p-button-rounded ml-2" label="Delete Image"
        (click)="deleteImage()"> </button>


    <button pButton type="button" icon="pi pi-download" class="p-button-raised p-button-rounded ml-2"
        label="Export Users" (click)="exportUsers()"> </button> 
         -->
</div>
<!-- 
    <div class="container row">
    <div class="col-md-6">
        <p-fileUpload name="demo[]" accept="image/*" [maxFileSize]=1000000 [showCancelButton]="false"
            [customUpload]="true" (uploadHandler)="uploadImage($event)">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>

    <div class="col-md-6">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage" height="300px">
        </div>
    </div>
</div> -->

<p-table [columns]="userHeaders" [value]="users">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Sr. No.</th>
            <!-- <th>Avatar</th> -->
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>
                Action
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-columns="columns" let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <!-- <td>
                <img [alt]="'label'" src="assets/my cut.jpeg" width="32" style="vertical-align: middle" />
            </td> -->
            <td *ngFor="let col of columns">
                {{user[col.field]}}
            </td>
            <td>
                <button pButton type="button" icon="pi pi-user-edit" class="p-button-raised p-button-rounded mr-3"
                    (click)="controlEditUserDialog(user)"> </button>
                <span>|</span>
                <button pButton type="button" icon="pi pi-user-minus" class="p-button-raised p-button-rounded ml-3"
                    (click)="controlDeleteUserDialog(user)"> </button>
            </td>
        </tr>
    </ng-template>
</p-table>