<div class="mt-3">
    <p>{{ elementDialogConfirmMsg }} {{elementType}} - {{elementName}}?</p>

    <button pButton type="button" class="p-button-raised p-button-rounded buttonFloat" (click)="deleteElement(false)"
        tabindex="0" label="No"></button>
    <button pButton type="button" class="p-button-raised p-button-rounded buttonFloat mr-4"
        (click)="deleteElement(true)" tabindex="0" label="Yes"></button>

</div>