<div class="mt-4">
    <form [formGroup]="userForm" (ngSubmit)="addUser()">

        <div class="p-float-label mt-5">
            <input id="float-input" type="text" pInputText formControlName="name" maxlength="24">
            <label for="float-input">Name</label>
        </div>

        <div class="p-float-label mt-5">
            <input id="float-input" type="text" pInputText formControlName="contactNo" maxlength="24">
            <label for="float-input">Contact No.</label>
        </div>

        <div class="p-float-label mt-5">
            <input id="float-input" type="text" pInputText formControlName="email" maxlength="24">
            <label for="float-input">Email</label>
        </div>

        <!-- <br> -->

        <!-- <p-fileUpload name="demo[]" (onSelect)="onSelectImage($event)" accept="image/*" [showUploadButton]="false"
            [maxFileSize]=1000000 [showCancelButton]="false" [customUpload]=true>
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload> -->

        <button pButton type="submit" class="p-button-raised p-button-rounded mt-4 buttonFloat"
            label={{formMode}}></button>
    </form>
</div>