/* You can add global styles to this file, and also import other style files */

$primary-color: #2196F3;

// header -> login logout
.loginClass ul li:nth-child(4) {
    position: absolute;
    right: 0;
}

.loginClass ul li:nth-child(5) {
    position: absolute;
    right: 0;
}

// dialog header
.p-dialog .p-dialog-header {
    background-color: $primary-color !important;
    color: #fff !important;
    
}

// input boxes
.p-inputtext {
    border: 0px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    width: 100%;
}

.p-inputtext:enabled:focus{
    box-shadow: none !important;
}

// dialog button float
.buttonFloat{
    float: right;
}

// dialog cancel button
.p-dialog .p-dialog-header .p-dialog-header-icon{
    color: white !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover{
 color: #495057 !important;   
}

// progress spinner
.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.53);
}

.center {
    position: relative;
    text-align: center;
}

.centerDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    border: 3px solid #2196F3;
    color: #2196F3;
    padding: 10px;
}